.following-activity-list {
    list-style-type: none;
    padding: 0;
  
    .following-activity-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid var(--border-color);
  
      &:last-child {
        border-bottom: none;
      }
  
      .following-avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 1rem;
        cursor: pointer;
      }
  
      .following-activity-info {
        flex-grow: 1;
  
        .following-name {
            font-weight: bold;
            margin-right: 1rem;
            cursor: pointer;
            transition: color 0.1s ease-in-out;
    
            &:hover {
              color: var(--primary-color);
            }
          }
  
        .activity-description {
          color: var(--text-color);
        }
  
        .new-badge {
          background-color: var(--primary-color);
          color: white;
          padding: 0.3rem 0.5rem;
          border-radius: 15px;
          font-size: 0.8em;
          margin-left: 0.5rem;
        }

        .category-link {
            cursor: pointer;
            color: var(--primary-color);
            &:hover {
              text-decoration: underline;
            }
          }
      }
    }
  }
  