.login-form {
    min-width: 30%;
    width: 25rem;
    margin: 30 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }
  
    input {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 0.5rem;
      border: 1px solid var(--border-color);
      border-radius: 4px;
    }
  
    button {
      cursor: pointer;
      width: 100%;
      background-color: var(--primary-color);
      color: white;
      border: none;
      padding: 0.7rem;
      border-radius: 4px;
    }
  
    p {
      text-align: center;
      margin-top: 1rem;
      // font-size: 1em;
      color: #666;
    }

    .errorMessage {
      color: red;
      font-size: 0.8rem;
      margin-top: 0;
      margin-bottom: 0.2rem;
    }
  }
  