@import '@/styles/variables';
@import '@/styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: space(lg);
}

.field {
  display: flex;
  flex-direction: column;
  gap: space(xs);
}

.label {
  font-size: map-get($font-sizes, sm);
  font-weight: map-get($font-weights, medium);
  color: color(gray-700);
}

.input, .select, .textarea {
  @include input-base;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  width: 100%;
  padding: 0.6rem 1rem;
  
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
  &:hover {
    background-color: #f9fafb;
  }
  
  &:focus {
    border-color: colro(primary);
  }
}

.textarea {
  resize: none;
  min-height: 7rem;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}