@import "variables";
@import "mixins";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  background-color: color(neutral-100);
}


// 포커스 아웃라인 제거 
button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none !important;
}

// select 요소에 대한 추가 규칙
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus-visible,
select:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid color(primary);
  outline-offset: 2px;
}

@media (max-width: 768px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}
