@import "variables";
@import "mixins";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


// 포커스 아웃라인 제거 
button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none !important;
}

// select 요소에 대한 추가 규칙
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus-visible,
select:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}

